<head>
<style>
    #formcontainer {
            text-align: left;
            margin-left: -30%;
    }
    @media only screen and (max-width: 1000px) {
         #sidebar {
            display: contents;
         }
        #formcontainer {
            margin-left: 0px;
        }
     }
</style>
</head>
<div class="col-3" id="sidebar">
    <section class="bg-dark p-5 mt-4" style:"font-size: 50%;width: 420;height: 20%">
        <div id="formcontainer" class="container p-3">
            <h5 class="text-white">SUBSCRIBE NOW</h3>
            <form action="#" method="Post">
                <input type="text" name="text" placeholder="Enter Your Email Id">
                <button type="button" class="btn btn-default" style:"width: 50%">Subscribe<i class="fa fa-envelope"></i></button>
            </form>
        </div>
    </section>
    <a class="twitter-timeline" data-width="420" data-height="500" href="https://twitter.com/pret_a_llod?ref_src=twsrc%5Etfw">Tweets by pret_a_llod</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
